
:root {
    --first-color:#3730a3;
    --second-color:#c7d2fe;
    --third-color:#e0e7ff;

    --full-height:100vh;
    --full-width:100vw;
}




body {
    margin: 0;
    border: 0;
    display: flex;
    width: var(--full-width);
    height: var(var(--full-height));
    font-family: "Markazi Text", sans-serif;
    font-size: 2rem;
}

/*

#197bbd
#e8e3e8
div {
    border: 1px solid red;
}

*/





.sidebar {
    flex:1.5;
    display:grid;
    height: var(--full-height);
    padding-bottom: 10rem;
    background-color: var(--first-color);
    color: var(--third-color);
}

.site_name {
    display: flex;
    padding: 0 1vw;
    margin: 1vh 0 3vh;
    align-items: center;
}

.site_name > div {
    font-size: 4rem;
    font-weight: 500;
      
}

.site_name > img {
    height: 4rem;
    width: auto;
}

.link_container {
    padding: 1rem 4rem;
    display: grid;
    grid-template-columns: 0.25fr 1fr;
    align-items: center;
    justify-content: center;
    
    
}

.link_container > img {
    width: 3rem;
}

a {
    color: var(--third-color);
    text-decoration: none;

}

.sidebar + div{
    flex:5;
    display: flex;
    flex-direction: column;
    

}

.header {
    background-color: var(--third-color);
    flex:1.2;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 0 5rem;
    box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.2);
    z-index: 2;
    
}





.search.container > form{
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    
    margin: 0;
    
    flex-direction: row;
    
}



button.search.button {
    align-items: center;
    justify-content: center;
    height: fit-content;
    width: fit-content;
    
    background-color: inherit;
    border: 0;
    
}

button.search.button > img {
    height: 100%;
    width: 100%;
}

.button:hover,
.action > button{
    cursor: pointer;
    
}

input.search.input {
    background-color: var(--second-color);
    border: 1px solid rgba(0, 0, 0, 0);
    padding: 0 1rem;
    height: 2rem;
    width: 50%;
    margin: 1rem 1rem;
    border-radius: 1rem;
}



div.profile.little  {
    
    display: flex;
    flex-direction: row;
    padding-right: 4rem;
    gap: 1rem;
    font-size: 3rem;
    font-weight: 600;
    align-items: center;
    justify-content: right;


}

.profile.little > img {
    height: 2rem;
}

.profile.little > img+img,
.profile.big >img  {
    height:3.5rem;
    
    border: 0px solid black;
    border-radius: 2rem;
    margin: 3px;
}

.profile.big > img {
    height: 5rem;
    grid-row: 1/3;
    border-radius: 3rem;
}

.profile.big > img + div{
    display: flex;
    
    align-items: end;
}

.profile.big > div + div {
    font-weight: 500;
    font-size: 2.5rem;
}


.profile.big {
    display: grid;
    font-weight: 600;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto auto;
    font-size: 1.5rem;
    
    

}


.action {
    display: flex;
    gap: 5rem;
    justify-content: space-between;
    align-items: center;
}

.action > button {
    background-color: var(--first-color);
    height: 2.5rem;
    flex: 1;
    min-width: 6rem;
    padding: 0 1.5rem;
    border-radius: 2rem;
    font-size: 1rem;
    font-weight: 900;
    color: #e8e3e8;
    border: 0;
    text-align: center;
}

.main {
    
    flex:5;
    display: flex;
    height: 100%;
    background-color: var(--second-color);
    padding: 1rem;
    


    
}

.main > div:first-child {
    height:100%;
    flex:2.5;
    display: flex;
    flex-direction: column;
}

.card_container{
    
    flex:10;
    display: grid;
    height: inherit;
    
    justify-content: center;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 1rem;
}

.other_containers {
    flex: 1;
}



.container_title {
    font-size: 2rem;
    padding: 0 2rem;
    font-weight: 600;
    margin:0;
    padding: 0;
}



.cards{
    
    padding: 1rem;
    margin: 0 1rem 1rem 1rem;
    border-radius: 1rem;
    background-color: var(--third-color);
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
    z-index: 2;

    display: flex;
    flex-direction: column;
    
    
}

.cards > div > img {
    
    height: 24px;
    width: auto;
    margin: 1rem;
}

.cards > div:first-child{
    flex:1;
    
    font-weight: 800;
}

.cards > div:last-child{
    
   
    flex: 1;
    align-items: center;
    display: flex;
    
    justify-content: right;
}

.cards > div:first-child + div {
    flex: 4;
    color: var(--first-color);
    
}

.other_containers {
    display: flex;
    flex-direction: column;
}

.annoucement_container ,.trending_container{
    flex: 1;
    background-color: var(--third-color);
    height: 100%;
    margin: 1rem;
    padding: 2rem;
    border-radius: 1rem;
    display: grid;
    font-size: 1.6rem;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
    z-index: 2;
}

.annoucement_container > .tab {
    border-bottom: 4px solid var(--first-color);
    margin: 1rem;
    margin-top: 0;

}

.annoucement_container > .tab .title {
    
    font-weight: 700;
}

.tab > .title + div {
    color: #3730a3;
}

.trending_container > .profile.big{
    display: grid;
    grid-template-columns: 0.5fr 2fr;
    grid-template-rows: 1fr 2fr;
    margin: 0.5rem 0;
}

.trending_container > .profile.big > img {
    grid-row: 1/3;
}

